.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .LogoImage{
  display: flex;
  justify-content: center;
  margin-left: 35%;
} */
#sidebar-menu ul li {
  width: 100% !important;
}

#sidebar-menu ul li .active {
  background-color: #D3E1FC !important;
  color: #2E71F4;
  border-right: 8px solid #2E71F4;

}

#sidebar-menu ul li ul li {
  width: 133% !important;
}

/* order detail box css */


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(203, 20, 20, 0.125);
}

.text-muted {
  font-size: 1.4em;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

a {
  color: #5465ff;
  text-decoration: none;
}

.LogoImage img {
  width: 443px;
  height: 180px;
  margin-top: 5px;
  border-radius: 5px;
}

/* for wrapper login */
.wrapperLogin {
  background: #F0F6FF;
  /* height: auto; */
  min-height: 100vh;
  height: auto;
  /* overflow: hidden !important; */
  align-items: center;
}

.leftWrapperLogin {}

.loginImage {
  width: 70%;
  margin: 0 auto;
}

.loginImage img {}

.rightWrapperLogin {}

.btn {
  border-radius: 0px !important;
}